# Python
__pycache__/
*.py[cod]
*.class
*.so
.Python
env/
venv/
.venv/
Lib/
Scripts/
Include/
pyvenv.cfg

# Environment
.env

# Output
output/
*.png

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Jupyter
.ipynb_checkpoints/
